@import url("fonts.googleapis.com");
*{ 
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

html{ 
    font-size: 80%;
}

body{ 
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #000000;
  color: #fff;
  position: relative;
}

label{ 
    display: none;
}

header{ 
    width: 100%;
    display:flex;
    background: transparent;
    filter: drop-shadow(10px);
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding:1rem 5%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{ 
    color: #982f40;
    font-size: 2.5rem;
    font-weight: 700;
    cursor:pointer;
    transition: 0.5 ease;
}

.logo:hover{ 
     transform:scale(1.05);
}

.nav a{ 
    color:#fff;
    margin-left: 3.2rem;
    font-weight: 600;
    transition: 0.2s ease;
    border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a.active{ 
    border-bottom: 3px solid #982f40;
    color: #982f40;
}

.menu{
    display: none;
}
.readm{ 
    font-size: 1.3rem;
    font-weight: 600;
}
.myservice{ 
    background: #373434;
    margin-top: 1.7rem;
    padding: 0.3rem 0.2rem 0.3rem;
    border-radius: 15px;
    transition: transform 0.3 ease;
    width: 100%;
}
.myservice:hover{ 
    background: #982f40;
    transform: scale(1.01) translateY(-8px);
}
.myservice i{ 
    font-size: 40px;
     padding: 0.5rem 3rem 0.5rem;
     color:red;
     opacity: 50%;
}

.mywork,
.myex{ 
    position: relative;
    margin-top: 1.7rem;
    padding: 0.3rem 0.2rem 0.3rem;
    border-radius: 15px;
    width: 100%;
    transition: 0.8 ease;
    height: 50vh;
}
.box1{ 
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.0) 0%,   
    rgba(255, 20, 147, 0.99) 130% 
  ), url("image/com.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.box2{ 
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.0) 0%,   
    rgba(255, 20, 147, 0.99) 150%   
  ), url("image/ui.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.box3{ 
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.0) 0%,   
    rgba(255, 20, 147, 0.99) 150%   
  ), url("image/motor.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.box4{ 
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.0) 0%,   
    rgba(255, 255, 255, 0.9) 150%   
  ), rgb(255,255,255);
    background-position: center;
    background-size: cover;
    height:320px;
}

.box5{ 
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.0) 0%,   
    rgba(255, 20, 147, 0.76) 150%   
  ), url("image/ex.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
    transition: 2s ease;
}

.mywork:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.box5:hover,
.box4:hover{
    background-size: 150%;
}

.container{ 
    display: flex;
    gap: 18px;
}
.form{ 
    text-align: center;
    width:100%;

}
.labe{ 
    display: block;
    margin: 25px 0;
    width: 100%;
    height: 50px;
    position: relative;
}
.contact-me h1{ 
    margin-top: 3rem;
    margin-bottom: 2rem;
     font-weight:600 ;
    font-size: 3rem;
}
input{ 
    width:100%;
    height: 50px;
    border-radius: 10px;
    border:1px solid #982f40;
    box-shadow: 5px 4px 5px rgb(152, 47, 64, 0.6);
    background: #373434;
    color: #fff;
    padding: 15px;
    outline: none;
    transition: 0.3 ease;
}
.labe i{ 
    position: absolute;
    top:50%;
    right:2%;
    transform: translateY(-50%);
}
input::placeholder{ 
    padding:1px;
    color:#fff;
}
input:hover{ 
    background:#000000;
}
textarea{ 
    width: 100%;
    border-radius: 10px;
    border:1px solid #982f40;
    box-shadow: 5px 4px 5px rgb(152, 47, 64, 0.6);
    background: #373434;
    color: #fff;
    padding: 15px;
    outline: none;
    transition: 0.3 ease;
    margin-bottom: 15px;
}
textarea:hover{ 
     background:#000000;
}
.sub{ 
    display: block;
    margin-top: 130px;
}

.error{ 
    border:0.5px solid red;
    color: grey;
    font-size: 16px;
    margin-top: 5px;
}

.warning{ 
    color:orange;
}

.danger{ 
    color: red;
}
@media (max-width: 995px){
    .nav{ 
     position: absolute;
     transform: translateX(250px);
     width:23%;
     right: 0;
     top:20px;
     background: #161616;
     padding: 0.5rem solid;
     border-left: 3px solid #982f40;
     border-bottom: 3px solid #982f40;
     border-bottom-left-radius:2rem;
     border-top: 0.1rem solid rgba(0,0,0,0.1);
     z-index: 280;
    }

    .nav a{ 
        display: block;
        margin: 1.4rem 0;
        font-size: 1.0rem;
        border-radius: 5px;
        font-weight: 700;
    }

    .nav a.active{ 
    border-bottom: 3px solid #982f40;
    color: #982f40;
    padding-bottom: 0.6rem;
}

label{ 
    display: block;
    position: relative;
    right: 0;
    padding:1rem;
    font-size: 3rem;
    color: #982f40;
    transition: 0.3s ease;
    cursor: pointer;
}

label:hover{ 
    color: #fff;
}

.labe i{ 
    top:80%;
    right:4%;
    font-size: 2rem;
    transform: translateY(-30%);
}
label.active{ 
      display: none;
}

.overlay{ 
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 170;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}

.overlay.active{ 
    opacity: 50%;
    visibility: visible;
}
nav.active{ 
    transform: translateX(0);
}

.container{ 
    display: block;
    gap: 10px;
}


}

section{ 
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home-ctn{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    gap: 8rem;
}

.home-img{ 
    border-radius: 50%;
}

.home-img img{ 
    width: 32vw;
    border-radius: 50%;
    border: 1.5px solid #982f40;
    box-shadow: 0 0 25px solid #982f40;
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 70%;
}

.home-img img:hover{ 
    font-size: 1.8rem;
    font-weight: 700;
    transform:translateX(-9px) scale(1.03);
}

.home-text,
.about-text{ 
    display:block;
}

.home-text h1{ 
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}



.about-text h1{ 
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}


.home-text h3{ 
    font-weight:600 ;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.about-text h3{ 
    font-weight:600 ;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.myService h1{ 
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
}

span{ 
    color: #982f40;
}

.home-text p,
.about-text p{ 
    word-spacing: 0.1rem;
}

.social-icons a{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0.5rem 2rem;
    border: 0.2rem solid #982f40;
    border-radius: 50%;
    width:3rem;
    height: 3rem;
    font-size: 2rem;
    background: transparent;
    color:#fff;
    transition: 0.3s ease;
}
.social-icons .icon a{ 
    margin-bottom: 1rem;
    height: 1rem;
    font-size: 0.5rem ;
    background: #000000;
}

.social-icons a:hover{ 
    background: #982f40;
    box-shadow: 0 0 25px solid #982f40;
    color:black;
    font-size: 2rem;
    transform: scale(1.15) translateY(-7px);
}

.btn{ 
    display: inline-block;
    border: 2px solid #982f40;
    border-radius: 25px;
    background: black;
    color:#982f40;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem 2.8rem;
    transition:0.3s ease ;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

.btn:hover{ 
    color: #000000;
    background: #982f40;
    transform: scale(1.05);
}

.read{ 
    display: inline-block;
    border: 2px solid #982f40;
    border-radius: 25px;
    background: #982f40;
    color:#000000;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem 2.8rem;
    transition:0.3s ease ;
    cursor: pointer;
    margin-top: 2rem;
}

.read:hover{ 
    color: #982f40;
    background: black;
    transform: scale(1.05);
}


.text-type{ 
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.service-type{ 
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    padding: 0.05rem 3rem 0.05rem;
}

.myservice p{ 
    text-align: justify;
    padding: 0.5rem 3rem 0.5rem;
    width: 100%;
}

.text-type{ 
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.work-type{ 
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
    margin-top: 15rem;
    padding: 0.05rem 3rem 0.05rem;
    text-align: center;
}

.mywork p{  
    text-align: center;
    padding: 0.5rem 2rem 0.5rem;
    width: 100%;
    font-weight: 600;
}

.ex-type{ 
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
    margin-top: 2rem;
    color: #000000;
    padding: 0.05rem 2rem 0.05rem;
    
}


.myex p{  
    text-align: left;
    padding: 0.5rem 2rem 0.5rem;
    width: 100%;
    font-weight: 300;
    color:#000000;
}

.ex{ 
    background: #fff;
    width: 100%;
    position: relative;
}

.exp i{ 
    font-size: 20px;
    color: #982f40;
}

.exp{ 
    width: 100%;
    display: block;
    background: #fff;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.4);
    margin-right: 12px;
    margin-top: 0.5rem;
    height: 30px;
    color: #000000;
    padding-left: 25px;
    padding-top: 3px;
    word-spacing: 14px;
}
.html{ 
     border-bottom: 5px solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, #982f40 95%,
    #fff 70%) 1;
}

.css{ 
     border-bottom: 5px solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, #982f40 87%,
    #fff 70%) 1;
}
.js{ 
     border-bottom: 5px solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, #982f40 70%,
    #fff 70%) 1;
}
.ui{ 
     border-bottom: 5px solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, #982f40 87%,
    #fff 70%) 1;
}

.html b,
.ui b{ 
    right: 0;
    word-spacing: 5px;
    margin-left: 250px;
    position: absolute;
}

.css b{ 
    right: 0;
    word-spacing: 5px;
    margin-left: 250px;
    position: absolute;
}

.js b{ 
    right: 0;
    word-spacing: 5px;
    margin-left: 250px;
    position: absolute;
}

.foot{ 
    position: absolute;
    text-align: center;
    background: #982f40;
    width: 100%;
    margin-bottom: 0;
    left: 0;
    padding: 5px;
    height: 30vh;
}
.foot h2{ 
    margin-top: 15px;
}

.readm{ 
    margin-top: 0.5rem;
    color: red;
    padding: 0.5rem 3rem 0.5rem;
    opacity: 70%;
}

.text-type span{
    position: relative;
}

.text-type span::before{ 
    content: "Software developer";
    color:#982f40;
    animation: type 20s infinite;
}

.text-type span::after{ 
    content: "";
    position: absolute;
    background-color: black;
    border-left: 3px solid black;
    width: 100px;;
    height:35px;
    animation: words 0.5s infinite;
}

.arrow{ 
    background: #fff;
    height: 40px;
    width: 40px;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    bottom: 20px;
    right: 48%;
    opacity: 50%;
    position: fixed;
    z-index: 1000;
    display: none;
}
.arrow:hover{ 
    opacity: 100%;
}
.arrow i{ 
    font-size: 20px;
    font-weight: 600;
}
.up{ 
    display: block;
}
@keyframes words {
    to{ 
        border-left: 2px solid #982f40;
    }
}
@keyframes type{ 
    0%,20%{ 
        content:"Web Developer";
    }
     21%,40%{ 
        content:"Software Developer";
    }
     41%,60%{ 
        content:"Motorcycle Expert";
    }
     61%,80%{ 
        content:"Graphics Designer";
    }
     81%,100%{ 
        content:"Script Writer";
    }
}
@media (max-width:1000px) {
    .home-ctn{ 
       gap: 3.2rem;
    }
}
@media(max-width:995px){ 
    .home-ctn{ 
        flex-direction: column;
        margin:5rem 4rem;
    }

    .home-text h1{ 
        font-size:4rem ;
    }

    .about-text h1{ 
        font-size:3rem ;
        margin-top:4rem;
    }

    .myservice h1{ 
        font-size: 3rem;
        margin-top: 4rem;
        text-align: center;
    }

    .home-text h3{ 
        font-size: 2rem;
    }

    .home-img img{ 
        margin-top: 3rem;
        width: 70vh;
    }

}

@media(max-width:1015px){ 
    .home-ctn{ 
        flex-direction: column;
        margin:5rem 4rem;
    }

    .home-text h1{ 
        font-size:4rem ;
    }

    .home-text h3{ 
        font-size: 2rem;
    }

    .home-img img{ 
        margin-top: 3rem;
        width: 80vh;
    }
}
